AURALIS_WINDOW_SECONDS=30
AURALIS_REDIS_URL=
AURALIS_SENTIMENT_MODEL=cardiffnlp/twitter-roberta-base-sentiment-latest
AURALIS_ENABLE_TRANSFORMERS=false
AURALIS_TWITCH_CHANNEL=
AURALIS_TWITCH_NICK=
AURALIS_TWITCH_TOKEN=
AURALIS_YOUTUBE_VIDEO_ID=

